{{ template "header.html" }}
<div class="main-centered-container">
    <div class="def-box auth-box" id="reg">
        <h2 class="centered">Регистрация</h2>
        <p class="comment auth-a" href="" id="toAuth">Уже есть аккаунт?</p>
        <div class="space"></div>
        <form class="auth-form" action="/reg" method="post">
            <div>
                <label for="login">Адрес электронной почты</label>
                <input type="email" name="login" id="login" placeholder="some@email.com" required>
            </div>
            <div>
                <label for="unique_name">Уникальное имя</label>
                <input type="text" name="unique_name" id="unique_name" placeholder="@somename" required>
            </div>
            <div>
                <label for="nickname">Никнейм</label>
                <input type="text" name="nickname" id="nickname" placeholder="User1234" required>
            </div>
            <div>
                <label for="hash">Пароль</label>
                <input type="password" name="hash" id="hash" placeholder="****" required>
            </div>

            <button class="outlined-button" type="submit">Зарегестрироваться</button>
        </form>
    </div>

    <div class="def-box auth-box active" id="auth">
        <h2 class="centered">Авторизация</h2>
        <p class="comment auth-a" href="" id="toReg">Еще нет аккаунта?</p>
        <div class="space"></div>
        <form class="auth-form" action="/auth" method="get">
            <div>
                <label for="login">Адрес электронной почты</label>
                <input type="email" name="login" id="login" placeholder="some@email.com" required>
            </div>
            <div>
                <label for="hash">Пароль</label>
                <input type="password" name="hash" id="hash" placeholder="****" required>
            </div>
        
            <button class="outlined-button" type="submit">Авторизоваться</button>
        </form>
    </div>
</div>

<script src="/static/js/auth.js"></script>
{{ template "footer.html" }}